<%- include ('components/header.ejs') %>

<body>
  <%- include ('components/navbar.ejs') %>
    <!--Consumimos una Api de Clima-->
    <section class="clima">
      <div class="termo"><span class="material-symbols-outlined">thermostat</span></div>
      
      <input type="text" placeholder="Ingrese su ciudad" id="city" value="">
      <button id="btn-w">Temperatura en tu ciudad</button>
      <div id="resultado"></div>
      </section>
      
      <hr>
    <!--una breve descripción del servicio y porque usar esta página, también agrego la opción de comentarios de usuarios-->
      <header class="header">
        <h2><a href="#" class="titulo">NOSOTROS</a></h2>
    
        <!-- <img src="https://raw.githubusercontent.com/Leonardofsirota/ProyectoCodoACodo/juan/assets/img/TIcketTrack.png?token=GHSAT0AAAAAACR6IEAPUVWYLC74KQSW2UU6ZSFSDIA" alt=""> -->
      </header>
    
      <section class="grilla">
          <p class="nosotros">
            <br>
            <br>
            Hacemos gestión de tickets de soporte. <br>
            Nuestros agentes pueden: <br>
            Realizar un seguimiento del estado general de la solicitud <br>
            Acceder rápidamente al historial completo de las conversaciones entre los clientes y agentes. <br>
            El ticket de soporte técnico permite organizar las incidencias y recopilar la mayor cantidad de
            datos de clientes. <br>
            Resuelven en un período de tiempo más breve <br>
            Identificamos aquellas solicitudes repetidas para solucionarlas en conjunto. <br> <br>
    
          </p>
        </div>
      </section>
      <hr>
    
    <!--haciendo las cajas para opiniones de usuarios-->
    
    
      <section class="opiniones" id="opinion">
        <div class="heading">
        <h1>QUE ES LO QUE TE GUSTA DE NOSOTROS</h1>
        <br>
        <br>
        <p class="servicio">Queremos brindarte una buena experiencia, <br>
        por eso ayudanos a mejorar y comentanos como estuvo nuestro servicio. 
        <br>
        </p>
        <div class="header-btns animate__animated animate__fadeInUp">
          <a target="_blank" href="./new-entry.ejs">Escribinos</a> <br>
      </div>
      
    <!--empiezo a realizar cajas con comentarios-->
      <div class="container">
    
      <div class="caja-contenedor">
    
              
          
            <% if (entries.length) { %>
              <% entries.forEach(function (entry) { %>
                <div class="caja">     
                  <span><i class="fa-solid fa-pen-clip"></i></span>
                <div class="usuario">
                  <h3><%= entry.title %></h3>                  
                  <div class="comentario">
                    <%= entry. contenido %>
                  </div>
                  <p><%= entry.puslished %></p>
              })%>
              
            }%>
            
          </div>
          
            
          </div>
        </div>
    
      </section>
    
      <%- include('./components/footer') %>
</body>
  