<body>
    <section class="devs">
        <div class="profile-card">
            <h3>Juan Corso</h3>
            <img class="round" src="<%= data.datosUsuario.url_img %>" alt="user" />
            <h4>
                <%= data.datosUsuario.username %>
            </h4>
            <h6>
                <%= data.datosUsuario.email %>
            </h6>
            <!-- <p>
                Datos
            </p> -->
            <div class="skills">
                <h6>Tickets Propios</h6>
                <!-- <ul>
                    <li>Desarrollador Front-End</li>
                    <li>JavaScript</li>
                    <li>Stack Net</li>
                    <li>Sql Server</li>
                    <li>Reporting Services</li>
                </ul> -->

                <% data.ticketsUsuario.forEach((t)=> { %>
                    <tr>
                        <td>
                            <%= t.motivo %>
                        </td>
                        <td>
                            <%= t.descripcion %>
                        </td>
                        <td>
                            <%= t.prioridad %>
                        </td>
                        <td>
                            <%= t.fechaOpen %>
                        </td>
                        <td>
                            <%= t.estate %>
                        </td>
                    </tr>
                    <% }); %>

            </div>

            <div class="skills">
                <h6>Tickets Resueltos</h6>
                <ul>
                    <li>
                        <%= data.ticketsResueltos.total %>
                    </li>
                    <!-- <li>JavaScript</li>
                    <li>Stack Net</li>
                    <li>Sql Server</li>
                    <li>Reporting Services</li> -->
                </ul>
            </div>
        </div>
    </section>

</body>
