<body>
    <div class="activity">
        <div class="title">
            <i class="fa-regular fa-clock"></i>
            <span class="text">Comentarios Recientes</span>

        </div>

        <table class="dash-table dash-table-comments">
            <thead>
                <tr>
                    <th>Autor</th>
                    <th>Puntaje</th>
                    <th>Descripcion</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody id="table-body">

                <% data.comments.forEach((c)=> { %>
                    <tr data_id=" <%= c.comment_id %>">
                        <td>
                            <%= c.name %>
                        </td>
                        <td>
                            <%= c.rating %>
                        </td>
                        <td>
                            <%= c.text %>
                        </td>
                        <td>
                            <a href="/api-comments/borrar/<%= c.comment_id %>" onclick="return confirm('¿Deseas eliminar el comentario?')"><i class="fa-regular fa-trash-can"></i></a>
                        </td>
                    </tr>
                    <% }); %>

            </tbody>
        </table>
    </div>

</body>

</html>