<body>
    <div class="activity">
        <div class="title">
            <i class="fa-regular fa-clock"></i>
            <span class="text">Recientes</span>

        </div>
        <!-- <div class="search-box">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Buscar..." />
        </div> -->

        <table class="dash-table">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Descripción</th>
                    <th>Prioridad</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody id="table-body">

                <% data.tickets.forEach((t)=> { %>
                    <tr>
                        <td>
                            <%= t.motivo %>
                        </td>
                        <td>
                            <%= t.descripcion %>
                        </td>
                        <td>
                            <% if (t.prioridad === 1) { %>
                                baja
                              <% } else if (t.prioridad === 2) { %>
                                media
                              <% } else if (t.prioridad === 3) { %>
                                alta
                              <% } %>   
                           
                        </td>
                        <td>
                            <%= t.fechaOpen.toLocaleDateString() %> <%= t.fechaOpen.toLocaleTimeString() %>
                        </td>
                        <td>
                            <% if (t.estate === 1) { %>
                                En espera
                              <% } else if (t.estate === 2) { %>
                                Resuelto
                              <% } %>
                        </td>
                        <td>
                            <!-- <a href=""><i class="fa-solid fa-circle-check"></i></a> -->
                            <a href="/api-tickets/borrar/<%= t.id_ticket %>"><i class="fa-regular fa-trash-can"></i></a>
                            <!-- <a href=""><i class="fa-solid fa-circle-xmark"></i></a> -->
                        </td>
                    </tr>
                    <% }); %>

            </tbody>
        </table>

    </div>

</body>

</html>