<body>
    <section class="devs">
        <div class="profile-card">

            <img class="round" src="<%= data.datosUsuario.url_img %>" alt="user" />
            <h3>
                <%= data.datosUsuario.username %>
            </h3>
            <h6>
                <%= data.datosUsuario.email %>
            </h6>
            
            <div class="skills">
                <h6>Tickets Propios</h6>
                <% if (data.ticketsUsuario.length > 0) { %>
                    <table>
                        <thead>
                            <tr>
                                <th>Motivo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% data.ticketsUsuario.forEach((t) => { %>
                                <tr>
                                    <td><%= t.motivo %></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                <% } else { %>
                    0
                <% } %>
            </div>

            <div class="skills">
                <h6>Tickets Resueltos</h6>
                <ul>
                    <li>
                        <%= data.ticketsResueltos.total %>
                    </li>
                </ul>
            </div>
        </div>
    </section>

</body>
